layout {

    focus-ring {
        active-color   "#b29fcc"
        inactive-color "#1e1a23"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#b29fcc"
        inactive-color "#1e1a23"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#b29fcc"
        inactive-color "#573980"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#b29fcc80"
    }
}

recent-windows {
    highlight {
        active-color "#b29fcc"
        urgent-color "#fd4663"
    }
}
